<app-trial/>

<header class="head1">Step into Arun Balaji's Story <a (click)="clearLocal()" routerLink="/"><img src="https://w7.pngwing.com/pngs/230/802/png-transparent-computer-icons-login-web-page-web-button-game-buttorn-miscellaneous-text-trademark.png" height="25"/></a></header>
<div class="container">
    <div class="content">
<div class="cardcontrol">
<div class="card">
    <img src="/photo.jpg" height="305" alt="pic" class="card-img">
  </div>
  <!-- <div class="card">
    <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/How_to_Become_an_Android_Developer.jpg" height="300" alt="pic1" class="card-img">
  </div>
  <div class="card">
    <img src="https://media.licdn.com/dms/image/D5603AQFQxuP8grv7VA/profile-displayphoto-shrink_200_200/0/1706460982341?e=2147483647&v=beta&t=yvVtYKII09ZIAnZox_o5ZFhSze_rtjk22eWxZvN-S6E" height="305" alt="pic2" class="card-img">
  </div> -->
  <div class="mid1">
    <span><span class="label"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name: A.Arun Balaji</span>
    <br/>
    <span><span class="label"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Emp Id: 10508569</span>
    <br/>
    <span><span class="label"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Org:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GRC </span>
    <br/>
    <span><span class="label"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Team:&nbsp;&nbsp; PDP</span>
  </div>
</div>
</div>
</div>

<!-- <div class="mid1">Hello! I'm Arun Balaji, currently contributing to Comcast with a background in Computer Science Engineering from Sastra University, where I graduated with distinction. I've gained valuable experience through internships at Yali Aerospace, shaping my passion for innovation and technology.</div> -->

<footer class="foot1">Crafting my digital footprint with passion!!</footer>

  